.logo {
    margin-left: 50%;
    color: #FF8AAE;
}

.video{
    text-align: center;
    
}

.container{
    max-width: 60%;
    background-color: #FF8AAE;
    margin: auto;
    height: 40vh;
    border-radius: 5px;
}

.message{
    background-color: #FFF89A;
    padding: 5px 5px;
    width: 24%;
    margin: 17px 10px;
    border-radius: 5px;
    
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    text-align: center;
    border-radius: 10px;
}

#messageInp{
    margin-top: 5px;
    width: 55.9%;
    height: 34px;
}

.btn{
    cursor: pointer;
    height: 34px;
    background-color: #9ADCFF;
    border-radius: 5px;
    margin: 0 0;
}

body{
    background-color: #FFF89A;
}